body {
  margin: 0;
  padding: 0;
  font-family: 'Muli' !important;
  top:0 !important;
  font-size: 16px;
  font-weight: 400;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  margin: 0;
  padding: 0;
  list-style: none; }
h3 {
  margin: 0;
  padding: 0;
  list-style: none; }

h4 {
  margin: 0;
  padding: 0;
  list-style: none; }

h5 {
  margin: 0;
  padding: 0;
  list-style: none; }

h6 {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0;
  padding: 0;
  list-style: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none !important;
  text-decoration: none !important; 
}

input {
  outline: none !important; 
}

button {
  outline: none !important; 
}
/* Fonts  */
@font-face {
  font-family: 'Muli';
  src: url('../fonts/') format('woff2'),
      url('../fonts/Muli-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Bold.woff2') format('woff2'),
      url('../fonts/Muli-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Black.woff2') format('woff2'),
      url('../fonts/Muli-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Regular.woff2') format('woff2'),
      url('../fonts/Muli-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-SemiBold.woff2') format('woff2'),
      url('../fonts/Muli-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Italic.woff2') format('woff2'),
      url('../fonts/Muli-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Muli';
  src: url('../fonts/Muli-Light.woff2') format('woff2'),
      url('../fonts/Muli-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
img{
  max-width: 100%;
  height: auto;
}
.sp{
  padding-top: 110px;
  padding-bottom: 110px;
}
h1{
  font-size: 30px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.43px;
  color: #101820;
  margin-bottom: 17.6px;
  text-transform: uppercase;
}
h1 span{
  color: #00c1d5;
}
p{
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: 0.26px;
  color: #101820;
}
p strong {
	color: #101820;
	font-size: 18px;
	padding-bottom: 8px;
	display: inline-block;
}
.bg_white{
  background-color: white;
}
.pt_0{
  padding-top: 0px;
}
.pb_0{
  padding-bottom: 0px;
}
.small_button a {
	font-family: Muli;
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ffffff;
	border-radius: 4px;
	background-color: #00c1d5;
	padding: 8px 27px;
	border-color: #00c1d5;
	margin-top: 15px !important;
	transition: 0.5s;
	display: inline-block;
}
.small_button a:hover{
	background-color: #101820;
}
#page-top {
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}

/*========================================
			Start header area
=======================================*/
.logo a img{
	height: 44px;
	width: auto !important;
}
.header_area {
	width: 100%;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	z-index: 1;
	position: relative;
}
.header_area .container-fluid {
	padding-left: 80px;
	padding-right: 80px;
	height: 100px;
}
.header_area .container-fluid .row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.main_manu ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.main_manu ul li a {
	font-size: 16px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 1.33px;
	color: #000;
	margin-right: 46px;
	display: inline-block;
	transition: 0.5s;
}
.main_manu ul li a:hover {
	transition: 0.5s;
	color: #00c1d5;
}
.main_manu ul li:last-child a {
	color: #00c1d5;
	border-radius: 4px;
	border: solid 2px #00c1d5;
	height: 40px;
	padding: 4px 12px;
  margin-right: 0px;
  line-height: 26px;
}
.find_image {
	margin-right: 80px;
}
.find_image img {
	width: 100%;
}
.find_content {
	max-width: 583px;
	float: left;
}
.title_find{
  margin-bottom: 35px;
}
.title_find p{
  font-size: 18px;
}
.find_item {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
  padding-top: 35px;
}
.find_single_item {
	flex: 0 0 33.33%;
	max-width: 33.33%;
	width: 100%;
	margin-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
}
.find_single_item img {
	height: 42px;
	margin-bottom: 10px;
}
.find_single_item p {
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 0.23px;
	color: #101820;
	line-height: normal;
}

.find_item .find_single_item:nth-child(1), .find_item .find_single_item:nth-child(2), .find_item .find_single_item:nth-child(4), .find_item .find_single_item:nth-child(5) {
  border-right: 1px solid #979797;
}
.articele_title h1 {
	margin-bottom: 30px;
}
.articele_title p {
	margin-bottom: 30px;
}

.blog_text{
  padding: 15px 30px 28px;
}
.articel_title h3 a {
	font-family: Muli;
	font-size: 16px;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.23px;
	color: #333333;
	text-align: left;
	margin-top: 10px;
	text-transform: uppercase;
  margin-bottom: 10px;
  display: inline-block;
  transition: all .4s ease-in-out 0s;
}
.blog_single_item {
	border-radius: 4px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	margin-bottom: 25px;
	margin-right: 2px;
	margin-left: 2px;
}
.blog_imge {
	height: 190px;
	overflow: hidden;
}
.blog_imge img {
	object-fit: cover;
}
.published {
	font-size: 12px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.92;
	letter-spacing: 0.17px;
	text-align: right;
	color: #97999b;
	text-transform: uppercase;
}
.entry_summary {
	margin-top: 10px;
	font-family: Muli;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.2px;
	color: #101820;
	text-align: left;
}
.lvca_entry_meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.lvca_terms {
	font-family: Muli;
	font-size: 12px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.92;
	letter-spacing: 0.17px;
	color: #00c1d5;
	text-transform: uppercase;
}
.articel_title h3 a:hover {
  color: #888;
}
.owl-prev {
	position: absolute;
	left: -41px;
	top: 0;
	margin: auto;
	bottom: 0;
	font-size: 24px !important;
	color: #aaa !important;
	overflow: hidden;
	width: 36px;
	height: 36px;
	background: #FFF !important;
	border-radius: 50%;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1) !important;
}
.owl-next {
	position: absolute;
	right: -41px;
	top: 0;
	margin: auto;
	bottom: 0;
	font-size: 24px !important;
	color: #aaa !important;
	overflow: hidden;
	width: 36px;
	height: 36px;
	background: #FFF !important;
	border-radius: 50%;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1) !important;
}
.view_all a {
	background-color: #00c1d5;
	font-family: 'Muli';
	border-radius: 4px;
	padding: 10px 30px;
	display: inline-block;
	margin-top: 25px;
	color: white;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	font-weight: 700;
	transition: 0.5s;
}
.view_all a:hover{
	background-color: #101820;
}
.home_clinic_section{
  background-image: url(../images/banner/da-virtual-clinic.jpg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.chinic_item {
	display: flex;
	justify-content: flex-start;
	padding-top: 35px;
}
.chinic_single_item {
	flex: 0 0 33.33%;
	max-width: 33.33%;
	width: 100%;
	margin-bottom: 32px;
	padding-right: 18px;
}
.chinic_img {
	height: 52px;
	display: table-cell;
	vertical-align: middle;
}
.clinic_title h1{
	margin-bottom: 17px;
}
.clinic_left{
	padding-top: 50px;
	padding-left: 60px;
	padding-bottom: 30px;
}
.chinic_image {
	padding-left: 175px;
}
.da_clinic_section{
	background-image: url('../images/banner/da-clinic@2x-scaled.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 150px;
	padding-top: 70px;
}
.section_similer_text .small_button {
	padding-top: 20px;
}
.da_clinic_section_two{
	background-image: url('../images/banner/da-home-care@2x-scaled.jpg');
	background-position: center ;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 230px;
	padding-bottom: 200px;
}
.da_clinic_section_three {
	padding-top: 230px ;
	padding-bottom: 200px ;
	background-image: url('../images/banner/chronic-disease@2x-scaled.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.da_clinic_section_four {
	padding-top: 230px ;
	padding-bottom: 200px ;
	background-image: url('../images/banner/mentalwellness-mainwebsite.jpg');
	background-position: center ;
	background-repeat: no-repeat ;
	background-size: cover ;
}
.da_clinic_section_five {
	padding-top: 230px ;
	padding-bottom: 200px ;
	background-image: url('../images/banner/da-marketplace-scaled.jpg');
	background-position: center ;
	background-repeat: no-repeat ;
	background-size: cover ;
}
.da_clinic_section_six{
	background-position: center ;
	background-repeat: no-repeat ;
	background-size: cover ;
	padding-top: 230px ;
	padding-bottom: 200px ;
	background-image: url('../images/banner/DA-rewards-desktop.jpg');
}
.featured_logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.featured_logo_img {
	flex: 0 0 20%;
	max-width: 20%;
	display: flex;
	justify-content: center;
	width: 100%;
	margin: 25px 0px;
}
.featured_on_section {
	padding-top: 100px;
	padding-bottom: 75px;
}
.da_clinic_section_seven{
	padding-top: 230px;
	padding-bottom: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../images/banner/take-charge-of-your-health\(1\).jpg');
}
.online_link a {
	margin-right: 15px;
	cursor: pointer;
}
.online_link {
	display: flex;
	justify-content: flex-start;
	margin-top: 10px;
}
.wpb_wrapper {
	padding-top: 45px;
	padding-bottom: 15px;
	border-radius: 4px;
	box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18);
	background-color: #ffffff;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	height: 109px;
}
.wpb_wrapper_text p {
	color: #101820;
	font-size: 14px;
}
.half_circle {
	width: 85px;
	height: 43px;
	background-color: #FFF;
	border-top-left-radius: 110px;
	border-top-right-radius: 110px;
	border: 0px solid gray;
	border-bottom: 0;
	top: -43px;
	right: 50%;
	transform: translate(50%,0%);
	padding-top: 16px;
	position: absolute;
	text-align: center;
	box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.18);
}
.half_circle img {
	width: 65px;
	position: relative;
	z-index: 2;
	max-height: 54px;
}
.half_circle .white_line {
	border: 5px solid white;
	position: Absolute;
	bottom: -8px;
	width: 100%;
	z-index: 1;
}
.da_chinic_row{
	margin-top: 234px;
}




/* Footer Css  */
.footer-area {
	background-color: #2d3038;
	padding-top: 35px;
	padding-bottom: 15px;
}
.data p{
	line-height: 17px;
	margin-bottom: 9px;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.18px;
	color: #FFF;
}
.footer_item .data ul {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.footer_item .data ul li a {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FFF;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	color: #000;
	text-align: center;
	margin-right: 15px;
	font-size: 15px;
}
.footer_item img {
	margin-bottom: 8px;
}
.footer_waypper {
	display: flex;
	justify-content: space-between;
}
.menu_lists h5 {
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 0px;
	line-height: 30px;
	font-weight: bold;
	color: #FFF;
}
.menu_lists ul li a {
	font-size: 12px;
	color: #fff !important;
}
.q_code {
	display: flex;
	justify-content: flex-start;
	margin-top: 10px;
}
.q_code_image {
	min-width: 70px;
	max-width: 70px;
	margin-right: 10px;
}
.play_store {
	display: flex;
	flex-direction: column;
}
.play_store img {
	width: 93px;
	margin-bottom: 4px;
}
.copyright_text {
	border-top: solid 1px #63666a;
	margin-top: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}
.copyright_text a {
	color: #428bca;
	margin: 0px 4px;
	display: inline-block;
	font-size: 12px;
	transition: 0.5s;
}
.copyright_text a:hover{
	color: #2a6496;
}
.copyright_text p{
	font-size: 12px;
	color: #ffffff;
}
.blog_search form {
	max-width: 351px;
	margin: 0 auto;
}
.blog_search form {
	position: relative;
}
.blog_search form input {
	border-radius: 4px !important;
	border: solid 1px #97999b;
	background-color: #ffffff;
	height: 40px;
	font-family: Muli;
	font-size: 14px;
	letter-spacing: 0.2px;
	color: #97999b;
	line-height: normal;
	-webkit-appearance: none;
	caret-color: #97999b;
}
.blog_search .search-field {
	width: 100%;
	padding: 0 50px 0 25px;
	border-radius: 25px;
	outline: 0 none;
}
.blog_search form button.search-submit {
	height: 40px;
	color: #97999b;
	width: 40px;
	right: 10px;
	border: 0;
	font-size: 17px;
}
.blog_search .search-submit {
	position: absolute;
	top: 1px;
	text-align: center;
	font-family: 'thegem-icons';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	background: transparent;
}
#filters {
	margin-bottom: 35px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}
.blog_search {
	margin-bottom: 40px;
	margin-top: 28px;
}
#filters button {
	font-family: Muli;
	letter-spacing: 0.29px;
	text-align: center;
	color: #97999b;
	text-decoration: none;
	font-size: 20px;
	margin-left: 42px;
	margin-right: 42px;
	border: none;
	outline: none !important;
	background: transparent;
	padding: 0px 5px;
	margin-bottom: 17px;
	transition: 0.3s;
	height: 40px;
}
.filtering-btn .control.is-checked {
	font-weight: 900 !important;
	color: #101820 !important;
	border-bottom: solid 4px #00c1d5 !important;
}
.gallery-filtering .blog_single_item .articel_title h3 a{
	color: #00bcd4;
}

  .pagination {
	margin-top: 60px;
	justify-content: center;
	align-items: center;
}
.page-link {
	border: 0px;
	font-family: Muli;
	font-size: 14px !important;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #101820 !important;
	background: none !important;
	margin: 0px 6px;
}
.page-item:first-child .page-link {
	background: #00c1d5 !important;
	color: #FFF !important;
	border-radius: 30px !important;
	height: 30px;
	width: 30px;
}
.page-item:not(:first-child) .page-link {
	margin-left: 0px;
}
.page-link:focus {
	box-shadow: 0 0 0px !important;
}

/* DropDown  */
.country_dropdown {
    margin-bottom: 10px;
    margin-top: 10px;
}
.country_dropdown .select {
    display: block;
    font-size: 25px;
    color: #444;
    padding-left: 32px;
    line-height: 28px;
    position: relative;
    -webkit-user-select: none;
    width: 157px !important;
    height: 30px;
    border-radius: 4px;
    border: solid 1px #ffffff;
    background: #2d3038 !important;
    cursor: pointer;
    display: flex;
}
.country_dropdown .select {
	font-family: Muli;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
}
.country_dropdown .select::after {
	content: "\f0d7";
	font-family: fontawesome;
	font-style: normal;
	font-size: 16px;
	position: absolute;
	top: 1px;
	right: 10px;
	color: #fff;
}
.select img{
    position: absolute;
    top: 6px;
    left: 5px;
}
.country_dropdown .list {
	list-style: none;
	position: absolute;
	width: 157px !important;
	background: #2d3038 !important;
	border: 1px solid #ffffff;
	margin-top: 10px;
	box-shadow: none;
	border-radius: 4px;
	display: none;
	z-index: 9999;
}
.country_dropdown .list li {
    display: block;
    width: 100%;
    position: relative;
    -webkit-user-select: none;
    font-family: Muli;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal !important;
    letter-spacing: 0.25px;
    color: #ffffff;
    margin-left: 0px;
    padding: 8px 5px 8px 32px;
    cursor: pointer;
}
.list li:hover{
    background-color: #3498db;
    color: #fff;
}
.list li img {
    position: absolute;
    top: 6px;
    left: 5px;
}
.list li:hover {
    background-color: #424550 !important;
    color: #fff;
}
.country_dropdown span img {
	height: 17px;
	width: auto;
}
.country_dropdown ul li img {
	height: 17px;
	width: auto;
}
.active_arrow:after {
    -webkit-transform: rotate(181deg);
    transform: rotate(181deg);
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.arrow_class {
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.country_dropdown .list::after {
	position: absolute;
	content: "";
	top: -5px;
	right: 11px;
	z-index: 2;
	height: 9px;
	width: 9px;
	background: #2D3038;
	border-top: 1px solid #FFF;
	border-right: 1px solid #FFF;
	transform: rotate(315deg);
}
.nav_icon{
	visibility: hidden;
	opacity: 0;
	display: none;
}
.mobile_man_img{
	visibility: hidden;
	opacity: 0;
	display: none;
}
.accordionExample{
	visibility: hidden;
	opacity: 0;
	display: none;
}